<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stelar17">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.STELAR17">
        <activity android:name=".SagittariusActivity"></activity>
        <activity android:name=".ScorpioActivity" />
        <activity android:name=".LibraActivity" />
        <activity android:name=".VirgoActivity" />
        <activity android:name=".LeoActivity" />
        <activity android:name=".CancerActivity" />
        <activity android:name=".GemeniActivity" />
        <activity android:name=".TaurusActivity" />
        <activity android:name=".AriesActivity" />
        <activity android:name=".PiscesActivity" />
        <activity android:name=".AquariusActivity" />
        <activity android:name=".CapricornActivity" />
        <activity android:name=".AllZodiacsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>